@import '../variables';

.cover {
  position: absolute;
  padding: 40px;
  height: $cover-ht;
}
.cover h1 {
  font-size: 54px;
  opacity: 0.75;
  letter-spacing: 10px;
  font-family: 'Archivo Black', sans-serif;
}
.cover h4 {
  font-size: 34px;
}
