@import '../variables';

main {
  margin-top: $nav-ht;
}
.mainUser {
  background-image: url('../images/wave.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

article {
  // margin-top: $cover-ht - $nav-ht;
}
.userLogin, .userCreate, .userDashboard {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 100px;
  width: 100%;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 285px;
  height: 325px;
}
.projectAddWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 285px;
  position: relative;
}
.projectAddForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  z-index: 2;
}
.projectAddBackground {
  position: absolute;
  top: 0;
  left: -5%;
  width: 110%;
  height: 105%;
  background-color: rgba(255,255,255,0.85);
  z-index: 1;
}
.userDashboardList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: $nav-ht;
  width: 285px;
}
.userForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}
.userInputField {
  width: 190px;
}
.inputAsideForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.submitButton, .clearButton {
  width: 100%;
  margin: 5px 0;
  padding: 5px;
}
.createAccount {
  margin-top: 15px;
  a {
    font-size: inherit;
    color: inherit;
  }
}
.dashboardHeader {
  display: block;
  width: 100%;
}
.dashboardList {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.dashboardItem {
  width: 100%;
  padding: 5px 0;
  &:hover {
    cursor: pointer;
    color: $font-color-hover;
    background-color: rgba(209,229,238,0.75);
  }
}
