@import '../variables';

main {
  margin-top: $nav-ht;
}
.mainUser {
  background-image: url('../images/wave.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

article {
  // margin-top: $cover-ht - $nav-ht;
}
.userLogin, .userCreate {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 100px;
  width: 100%;
}
.userForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 285px;
  height: 325px;
}
.inputAsideForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.submitButton, .clearButton {
  width: 100%;
  margin: 5px 0;
  padding: 5px;
}
.createAccount {
  margin-top: 15px;
  a {
    font-size: inherit;
    color: inherit;
  }
}
