$fontColorMain: #333;
$aside-background-color: #888;
$section-background-color: #888;
$footer-background-color: #888;

/* @@@@@@@@@@@@@@  END VARIABLES - START RESET @@@@@@@@@@@@@@@@@@@@ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-size: 16px; /* was 100% */
  font-family: 'Oxygen', sans-serif; /* Brad added */ 
  /*font: inherit;*/
  color: $fontColorMain; /* Brad added */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: flex; // was block
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box; /* Brad added */
}
/* @@@@@@@@@@@@@@@@ END RESET - START GENERAL @@@@@@@@@@@@ */

$nav-ht: 50px;

.landingContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; 
  background-color: #777;
  position: fixed;
  .landing {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    background-color: rgb(218, 161, 161);
    // position: fixed;
  };
  footer {
    width: 100vw;
    height: $nav-ht;
    background-color: $footer-background-color;
  }
}

.cover {
  position: absolute;
  background-color: rgb(223, 218, 203);
}

nav {
  display: flex;
  width: 100%;
  position: fixed;
  height: $nav-ht;
  ul{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; 
    li{

    } 
  }
}
.outerContainer, main, .innerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.outerContainer {
}
main {
  margin-top: $nav-ht;
}
.innerContainer {
}

aside, section {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

aside {
  width: 20%;
  background-color: $aside-background-color;
  margin-right: 5px;
}

section {
  width: 80%;
  background-color: $section-background-color;
  margin-left: 5px;
}

/* @@@@@@@@@@@@@@@@  @@@@@@@@@@@@ */

.etTableCell0, .effTableCell0 {
  background-color: rgb(249, 249, 252);
}
.etTableCell1, .effTableCell1 {
  background-color: rgb(166, 190, 226);
}
.etTableCell2, .effTableCell2 {
  background-color: rgb(125, 191, 218);
}
.etTableCell3, .effTableCell3 {
  background-color: rgb(99, 201, 204);
}
.etTableCell4, .effTableCell4 {
  background-color: rgb(91, 203, 218);
}
.etTableCell5, .effTableCell5 {
  background-color: rgb(79, 206, 163);
}
.etTableCell6, .effTableCell6 {
  background-color: rgb(57, 206, 149);
}
.etTableCell7, .effTableCell7 {
  background-color: rgb(52, 211, 91);
}
.etTableCell8, .effTableCell8 {
  background-color: rgb(19, 224, 19);
}
.etTableCell9, .effTableCell9 {
  background-color: rgb(26, 192, 11);
}