/* @@@@@@@@@@@@@@  END VARIABLES - START RESET @@@@@@@@@@@@@@@@@@@@ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  /* was 100% */
  font-family: 'Oxygen', sans-serif;
  /* Brad added */
  /*font: inherit;*/
  color: #333;
  /* Brad added */
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: flex; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  /* Brad added */ }

/* @@@@@@@@@@@@@@@@ END RESET - START GENERAL @@@@@@@@@@@@ */
.landingContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #777;
  position: fixed; }
  .landingContainer .landing {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #daa1a1; }
  .landingContainer footer {
    width: 100vw;
    height: 50px;
    background-color: #888; }

.cover {
  position: absolute;
  background-color: #dfdacb; }

nav {
  display: flex;
  width: 100%;
  position: fixed;
  height: 50px;
  background-color: white; }
  nav ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }

.outerContainer, main, .innerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative; }

main {
  margin-top: 50px; }

aside, section {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }

aside {
  width: 20%;
  background-color: #888;
  margin-right: 5px; }

section {
  width: 80%;
  background-color: #888;
  margin-left: 5px; }

/* @@@@@@@@@@@@@@@@  @@@@@@@@@@@@ */
.etTableCell0, .effTableCell0 {
  background-color: #f6faf5; }

.etTableCell1, .effTableCell1 {
  background-color: #e4eee3; }

.etTableCell2, .effTableCell2 {
  background-color: #dbeedb; }

.etTableCell3, .effTableCell3 {
  background-color: #cceace; }

.etTableCell4, .effTableCell4 {
  background-color: #bce5bd; }

.etTableCell5, .effTableCell5 {
  background-color: #8fd49b; }

.etTableCell6, .effTableCell6 {
  background-color: #65c071; }

.etTableCell7, .effTableCell7 {
  background-color: #37a850; }

.etTableCell8, .effTableCell8 {
  background-color: #259e3f; }

.etTableCell9, .effTableCell9 {
  background-color: #139b30; }

.etTableContainer {
  margin-top: 15px; }
  .etTableContainer h3 {
    text-align: center; }

td {
  font-family: monospace; }

/* @@@@@@@@@@@@@@ TOOLTIPS @@@@@@@@@@@@ */
.tooltip {
  position: relative;
  margin: 5px; }
  .tooltip .popover {
    display: none;
    padding: 5px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    top: 125%;
    background-color: #333;
    color: #ebebf5;
    opacity: .74;
    border: 1px solid #52524e;
    -moz-box-shadow: 7px 7px 7px -5px #999;
    -webkit-box-shadow: 7px 7px 7px -5px #999;
    box-shadow: 7px 7px 7px -5px #999;
    z-index: 999;
    margin-top: 3px;
    font-size: 12px;
    text-align: left; }

.tooltip:hover .popover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.popover:after, .popover:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none; }

.popover:after {
  border-bottom-color: #333;
  border-width: 7px;
  margin-left: -7px; }

.popover:before {
  border-bottom-color: black;
  border-width: 7px;
  margin-left: -7px; }

.iconWrapper {
  display: flex; }

/* @@@@@@@@@@@@@@ GENERAL OVERRIDES @@@@@@@@@@@@ */
.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.inactive {
  color: #888; }

.hidden {
  display: none; }

/*# sourceMappingURL=App.css.map */
