$fontColorMain: #333;
$aside-background-color: #888;
$section-background-color: #888;
$footer-background-color: #888;
$liTooltipZIndex: 999;
$fontColorInactive: #888;
$shadow: #999;
$fontColorTooltip: #ebebf5;
$lines: #52524e;
$tooltipBackgroundColor: #333;
$nav-background-color: white;

$portraitPhoneWide: 375px;
$landscapePhone: 576px;
$portraitTablet: 768px;
$landscapeTablet: 992px;
$laptopPlus: 1200px;

$nav-ht: 50px;
